body {
margin: 0;
font-family: Arial, sans-serif;
background-color: #000000;
color: white;
}

/* HEADER */

header {
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#000;
position:sticky;
top:0;
z-index:1000;
}

.logo-container {
display:flex;
justify-content:center;
align-items:center;
padding:10px;
}

.logo-img{
height:70px;
border-radius:20px;
}

.logo-img:hover {
transform: scale(1.05);
}

nav a {
color:white;
text-decoration:none;
margin-left:25px;
font-weight:500;
transition:0.3s;
}

nav a:hover {
color: #A10000;
}

/* HERO */

.hero{

background:linear-gradient(90deg,#000,#3D3D3D);
padding:120px 20px;
text-align:center;

}

.hero h1{

font-size:48px;
color:#A10000;
margin-bottom:20px;

}

.hero p{

font-size:20px;
color:#ccc;

}

/* TITULO SECCIONES */

.section-title {
text-align: center;
font-size: 28px;
margin-top: 40px;
color: #A10000;
}

/* PRODUCTOS */

.products {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 30px;
padding: 60px 20px;
}


/* Tarjeta */
.card {

background-color: #3D3D3D;
width: 320px;
border-radius: 10px;
overflow: hidden;
box-shadow: 0 5px 15px rgba(0,0,0,0.5);
transition: all 0.3s ease;

}

.card:hover {

transform: translateY(-8px);
box-shadow: 0 10px 25px rgba(0,0,0,0.7);

}

.card img {

width: 100%;
height: 220px;
object-fit: contain;
transition: transform 0.4s ease;

}

.card:hover img {

transform: scale(1.08);

}

.card-content {

padding: 20px;

}

.card h2 {

color: #A10000;
margin-top: 0;

}

.card p {

font-size:14px;
color:#ccc;
line-height:1.5;

}

.price {
font-size: 18px;
font-weight: bold;
margin-top: 10px;
}

/* BOTONES */

button {
background-color: #A10000;
border: none;
padding: 10px 15px;
color: white;
border-radius: 5px;
cursor: pointer;
margin-top: 15px;
width: 100%;
}

button:hover {
background-color: #800000;
}

/* FOOTER */

footer {
background-color: #000000;
padding: 40px;
text-align: center;
border-top: 1px solid #3D3D3D;
color: #aaa;
font-size: 14px;
}
/* CONTACTO */

.contact-container{

padding:60px;
max-width:1200px;
margin:auto;

}

.contact-container h1{

color:#A10000;
margin-bottom:20px;

}

.contact-grid{

display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
margin-top:30px;

}

.contact-form input,
.contact-form textarea{

width:100%;
padding:12px;
margin-bottom:15px;
border:none;
background:#3D3D3D;
color:white;

}

.contact-form textarea{

height:120px;

}

.contact-form button{

background:#A10000;
color:white;
border:none;
padding:12px 20px;
cursor:pointer;
font-size:16px;

}

.contact-form button:hover{

background:#750000;

}

.contact-info{

background:#111;
padding:25px;

}

.contact-info h3{

color:#A10000;
margin-bottom:15px;

}

.products-page{

padding:60px;
text-align:center;
background:#000;

}

.products-page h1{

color:#A10000;
margin-bottom:40px;

}

.products-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;

}

.product-card{

background:#3D3D3D;
padding:20px;
border-radius:8px;
color:white;
transition:0.3s;

}

.product-card:hover{

transform:translateY(-8px);

}

.product-card img{

width:100%;
height:220px;
object-fit:contain;
margin-bottom:15px;

}

.product-card h2{

color:#A10000;

}



.product-slider{

background:#000;
padding:50px 0;
text-align:center;

}

.product-slider h2{

color:#A10000;
margin-bottom:30px;

}




.slider{

overflow:hidden;
position:relative;
width:100%;
}

.slide-track{

display:flex;
gap:20px;
width:calc(180px * 16);
animation:scroll 18s linear infinite;

}

.slide{

width:180px;
background:#3D3D3D;
padding:12px;
border-radius:8px;
text-align:center;
transition:0.3s;

}

.slide:hover{

transform:translateY(-5px);

}

.slide img{

width:100%;
height:120px;
object-fit:contain;

}

.slide p{

margin-top:10px;
font-size:14px;
color:white;
font-weight:bold;

}

@keyframes scroll{

0% {transform:translateX(0);}
100% {transform:translateX(-50%);}

}




.footer{

background:#3D3D3D;
border-top:6px solid #A10000;
color:#ccc;
padding-top:50px;

}

.footer-container{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:40px;
max-width:1200px;
margin:auto;
padding:40px;

}

.footer-col h3{

color:white;
margin-bottom:15px;

}

.footer-col a{

display:block;
color:#ccc;
text-decoration:none;
margin:8px 0;
transition:0.3s;

}

.footer-col a:hover{

color:#A10000;

}

.highlight{

color:#A10000;

}

.footer-disclaimer{

border-top:1px solid #555;
max-width:1100px;
margin:auto;
padding:30px;
font-size:14px;
line-height:1.7;
text-align:justify;

}

.footer-bottom{

border-top:1px solid #555;
text-align:center;
padding:20px;
font-size:14px;
background:#000;

}
